@model TaskManagement.Domain.Entities.Task

@{
    // Get the user's ID from the claims
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Task</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input hidden asp-for="CreatedBy" value="@userId" />
            <input hidden asp-for="UpdatedBy" value=""/>
            <div class="p-3">
                @* <div asp-validation-summary="All"></div>  *@
                <div class="form-floating py-1 col-12">
                    <input asp-for="Title" class="form-control border shadow" />
                    <label asp-for="Title" class="ms-2"></label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Description" class="form-control border shadow" />
                    <label asp-for="Description" class="ms-2"></label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    @* <input asp-for="Status" class="form-control border shadow" /> *@
                    @* <label asp-for="Status" class="ms-2"></label> *@
                    <select asp-for="Status" class="form-control" asp-items="Model.StatusList" id="tstatus">
                        <option value="">Select a Status</option>
                    </select>

                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    @* <input asp-for="Priority" class="form-control border shadow"  /> *@
                    @* <label asp-for="Priority" class="ms-2"></label> *@
                    
                    <select id="priority" name="Priority" asp-for="Priority" class="form-control" asp-items="Model.PriorityList">
                        <option value="">Select a Priority</option>
                    </select>
                    <label asp-for="Priority" class="ms-2"></label>
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    @* <input asp-for="AssignedTo" class="form-control border shadow" /> *@
                    @* <label asp-for="AssignedTo" class="ms-2"></label> *@
                    <select asp-for="AssignedTo" asp-items="@Model.AssignedList" class="form-control" id="tuser-@Model.Id">
                        <option value="">Please Select</option>
                    </select>
                    <label asp-for="AssignedTo" class="ms-2"></label>
                    <span asp-validation-for="AssignedTo" class="text-danger"></span>
                </div>
                @* <div class="form-floating py-1 col-12">
                    <input asp-for="CreatedBy" class="form-control border shadow" />
                    <label asp-for="CreatedBy" class="ms-2 "></label>
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div> *@
                 <div class="form-floating py-1 col-12">
                    <input asp-for="DueDate" type="date" class="form-control border shadow" />
                    <label asp-for="DueDate" class="ms-2 "></label>
                    <span asp-validation-for="DueDate" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-check-circle"></i> Create
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Task" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
